<% layout('./layouts/boilerplate')%>

    <h1>Hello Hotel page !</h1>

    <div>
        <a href="/campgrounds/new">Add New Hotel</a>
    </div>
    <ul>
        <% for (let campground of campgrounds) {%>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <% if(campground.images.length !==0){ %>
                            <img src="<%= campground.images[0].url%>"
                                onerror="this.src='https://images.unsplash.com/photo-1581925966936-be16cec1245e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80'"
                                alt="Hotel Picture" class="img-fluid">
                            <%}%>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= campground.title %>
                            </h5>
                            <p class="card-text">
                                <%= campground.description%>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">
                                    <%= campground.location%>
                                </small>
                            </p>
                            <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>">
                                view <%=campground.title%>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
            <%}%>
    </ul>